@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);;
}

.app--container {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 800px;
    background-color: rgb(71, 71, 71);
    border-radius: 20px;
}

.navbar--container {
    display: flex;
    padding: 20px;
    margin: 10px 10px 0px 10px;
    align-items: center;
    justify-content: center;
    background-color: rgb(70, 179, 155);
    border-radius: 20px 20px 0px 0px;
}

.navbar--logo {
    width: 50px;
    margin-right: 5px;
}

.navbar--title {
    font-family: "Vandalism", sans-serif;
}

.cards--container {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    margin: 0px 10px 10px 10px;
    height: 100%;
    border-radius: 0px 0px 20px 20px;
    overflow: scroll;
}

.cards {
    display: flex;
    margin: 50px 20px 20px 30px;
    font-family: "Inter";
}

.cards--images {
    height: 200px;
    width: auto;
    border-radius: 5px;
    margin-right: 30px;
}

.cards--location {
    display: inline-flex;
    align-items: center;
}

.cards--location > p {
    font-size: 12px;
    letter-spacing: 1.5px;
    color: rgb(70, 179, 155);
}

.cards--location > a {
    font-size: 12px;
    color: rgb(141, 141, 141);
    margin-left: 10px;
}

.cards--title {
    margin: 0;
}

.cards--dates {
    margin: 20px 0px 0px 0px;
    font-size: 12px;
    font-weight: bold;
}

.cards--description {
    margin: 10px 0px 0px 0px;
    font-size: 12px;
    line-height: 1.5;
}